/*====import font for logo=====*/
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

/*============start variable==========*/
:root {
    --main-color:#f56932;
    --paragrah-color: #FFF;
    --main-padding: 3% 0 3%;
}
/*============end variable=============*/

/*===========start global rules=============*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
.clearfix {
    clear: both;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*====small====*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/*====meduim====*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/*===larg===*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/*===========end global rules====================*/

/*======================start home page========================*/
/*start header*/
header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 20px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    text-decoration: none;
}
header nav a p {
    display: inline;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    font-family: 'Shalimar', cursive;
    letter-spacing: 3px;
    word-spacing: 4px;
}
header nav a p span {
    color: var(--main-color);
}
header nav .links ul li {
    display: inline-block;
    padding-left: 15px ;
}
header nav .links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    margin: auto;
    display: block;
    transition: 0.4s;
}
header nav .links ul li:hover::after {
    width: 100%;
}
header nav .links ul li a {
    color: var(--paragrah-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
header .text-box {
    width: 100%;
    color: var(--paragrah-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
}
header .text-box h1 {
    font-size: 45px;
}
header .text-box p {
    font-size: 18px;
    margin-bottom: 70px;
}
header .text-box .btn {
    text-decoration: none;
    color: var(--paragrah-color);
    border: 1px solid var(--paragrah-color);
    padding: 13px 40px;
    background-color: transparent;
    transition: 0.6s;
    position: relative;
    cursor: pointer;
}
header .text-box .btn::before {
    content: "";
    width: 50px;
    border-bottom: 1.3px solid #fff;
    display: block;
    position: absolute;
    bottom: 50%;
    left: -12%;
    transition: 0.6s;
}
header .text-box .btn:hover::before {
    border-color: var(--main-color);
}
header .text-box .btn::after {
    content: "";
    width: 50px;
    border-bottom: 1.3px solid #fff;
    display: block;
    position: absolute;
    bottom: 50%;
    right: -12%;
    transition: 0.6s;
}
header .text-box .btn:hover::after {
    border-color: var(--main-color);
}
header .text-box .btn:hover {
    background-color: var(--main-color);
}
header .fas {
    display: none;
}
@media (max-width:767px) {
    header .text-box h1 {
        font-size: 30px;
    }
    header nav .links {
        position: fixed;
        background-color: var(--main-color);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -202px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    header nav .links ul li {
        display: block;
        padding: 8px;
        transition: 0.5s;
    }
    header nav .links ul li:hover {
        padding-left: 20px;
        transition: 0.5s;
    }
    header .fas {
        display: block;
        color: var(--paragrah-color);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    header nav .links ul {
        padding: 40px 25px;
    }
}
/*end header*/
/*======================end home page========================*/

/*======================start about page========================*/
/*start header*/
.sub-header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 20px;
}
/*end header*/

/*start about us content*/
.about-us-content {
    background-color: #FFF;
    padding: 8% 0 35%;
}
.about-us-content .container .content{
    float: left;
    width: 40%;
}
@media (max-width:767px) {
    .about-us-content .container .content{
        float: none;
        width: 100%;
        text-align: center;
    }
}
.about-us-content .container .content h1 {
    margin: 0;
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: 600;
}
@media (max-width:767px) {
    .about-us-content .container .content h1 {
        font-size: 30px;
    }
}
.about-us-content .container .content p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px 0px 20px;
    margin-bottom: 0px;
}
.about-us-content .container  img {
    float: right;
    width: 47%;
    margin-left: 3%;
    border-radius: 5%;
}
@media (max-width:767px) {
    .about-us-content .container  img {
        float: none;
        width: 100%;
        margin-bottom: 15%;
        margin-left: 0%;
    }
}
.about-us-content .content .cv {
    text-decoration: none;
}
@media (max-width:767px) {
    .about-us-content .content .cv {
        text-decoration: underline;
        color: rgb(140, 117, 80);

    }
}
.about-us-content .content .cv p {
    text-align: center;
    color: rgb(140, 117, 80);
}

.about-us-content .content .cv:hover {
    text-decoration: underline;
    color: rgb(140, 117, 80);

}
.about-us-content .content .btn {
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 13px 40px;
    background-color: transparent;
    transition: 0.6s;
    position: relative;
}
.about-us-content .content .btn:hover {
    background-color: var(--main-color);
    color: var(--paragrah-color);
}
.about-us-content .content .btn::before {
    content: "";
    width: 50px;
    border-bottom: 1.3px solid var(--main-color);;
    display: block;
    position: absolute;
    bottom: 50%;
    left: -12%;
    transition: 0.6s;
}
.about-us-content .content .btn:hover::before {
    border-color: var(--main-color);
}
.about-us-content .content .btn::after {
    content: "";
    width: 50px;
    border-bottom: 1.3px solid var(--main-color);;
    display: block;
    position: absolute;
    bottom: 50%;
    right: -12%;
    transition: 0.6s;
}
.about-us-content .content .btn:hover::after {
    border-color: var(--main-color);
}
/*end about us content*/
/*======================end about page====================*/


/*=================start skills page===================*/
/*start sub header*/
.sub-header .skills-text h1 {
    font-size: 40px;

}
@media (max-width:767px) {
    .sub-header .skills-text h1 {
        font-size: 30px;
    }
}
/*start sub header*/

/*start skills*/
.skills {
    background-color: #FFF;
    padding: var(--main-padding);
    text-align: center;
}
.skills h1 {
    font-size: 30px;
    font-weight: 600;
}
.skills p {
    color: #777;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px 10px 10px;
}
.skills .row {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 40px;
}
.skills .row .feat {
    width: 300px;
    background-color: #fff3f3;
    border-radius: 10px;
    padding: 20px 10px;
    transition: 0.5s;
    margin:auto;
    margin-bottom: 5%;
}
.skills .row .feat:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.skills .row .feat h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
/*start skills*/
/*=================end skills page===================*/


/*=================start projects page================*/
.projects {
    background-color: #FFF;
    padding: var(--main-padding);
    text-align: center;
    margin-bottom: 5%;
}
.projects h1 {
    font-size: 30px;
    font-weight: 600;
}
.projects p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px 10px 10px;
    margin-bottom: 5%;
}
.projects .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.projects-col {
    position: relative;
    width: 300px;
    height: 425px;
    margin-bottom: 5%;
    margin: 5% auto 0;
    overflow: hidden;
    border-radius: 10px;
}
.projects-col .img {
    width: 300px;
    border-radius: 10px;
}
.projects-col .img img {
    width: 100%;
    border-radius: 10px;
    display: block;    
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
}
.layer:hover {
    background: var(--main-color);
    opacity: .7;
}
.layer h3 {
    color: var(--paragrah-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.layer:hover h3 {
    bottom: 52%;
}
/*start contact page*/
.contact {
    background-color: #fff;
    margin: 7% 0 3%;
}
.contact .container {
    height: 300px;
    width: 60%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/banner2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}
.contact .container .content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 13px;
    line-height: 1.6;
}
.contact .container .content h1 {
    margin-bottom: 3%;
}

@media (max-width:767px) {
    .contact .container .content h1 {
        font-size: 20px;
    }
}
.contact .container .content p {
    margin-bottom: 15%;
    font-size: 15px;
}
@media (max-width:767px) {
    .contact .container .content p {
        margin-bottom: 20%;
        font-size: 10px;
    }
}
.contact .container .content .btn {
    text-decoration: none;
    color: var(--paragrah-color);
    border: 1px solid var(--paragrah-color);
    padding: 13px 40px;
    background-color:  transparent;
    transition: 0.6s;
    position: relative;
}
@media (max-width:767px) {
    .contact .container .content .btn {
        padding: 9px 15px;
        font-size: 10px;
    }
}
.contact .container .content .btn:hover {
    background-color: var(--main-color);
}
.content .btn::before {
    content: "";
    width: 50px;
    border-bottom: 1.3px solid #fff;
    display: block;
    position: absolute;
    bottom: 50%;
    left: -12%;
    transition: 0.6s;
}
@media (max-width:767px) {
    .content .btn::before {
        width: 20px;
    }
}
.content .btn:hover::before {
    border-color: var(--main-color);
}
.content .btn::after {
    content: "";
    width: 50px;
    border-bottom: 1.3px solid #fff;
    display: block;
    position: absolute;
    bottom: 50%;
    right: -12%;
    transition: 0.6s;
}
@media (max-width:767px) {
    .content .btn::after {
        width: 20px;
    }
}
.content .btn:hover::after {
    border-color: var(--main-color);
}
/*end contact*/

/*start leave a comment*/
.leave_a_comment-content {
    padding: 7% 0 15%;
}
.leave_a_comment-content .content {
    float: left;
    width: 55%;
    margin-right: 5%;
}
@media (max-width:767px) {
    .leave_a_comment-content .content {
        float: none;
        width: 100%;
        margin:auto;
        margin-bottom: 25px;
    }
}
.leave_a_comment-content .content img {
    width: 100%;
    margin-bottom: 20px;
}
.leave_a_comment-content .content h3 {
    margin-bottom: 20px;
    font-weight: 600;
}
.leave_a_comment-content .content p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding:  0 5px 15px 0;
}
.leave_a_comment-content .content form {
    border: 1px solid #777;
    background-color: #fff;
    padding: 15px 15px 30px 15px;
    margin-top: 15px;
}
.leave_a_comment-content .content form h2 {
    margin-bottom: 7px;
}
.leave_a_comment-content .content form input {
    display: block;
    background-color: rgb(235, 233, 233);
    width: 100%;
    padding: 5px;
    border: none;
    margin-bottom: 15px;
}
.leave_a_comment-content .content form textarea {
    min-height: 100px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: rgb(235, 233, 233);
    padding: 5px;
    border: none;
    margin-bottom: 30px;
}
input:focus, textarea:focus {
    outline: none;
}
.leave_a_comment-content .content form .btn {
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 13px 40px;
    background-color: transparent;
    transition: 0.6s;
    position: relative;
    margin-bottom: 30px;
    width: 40%;
    border-radius: 0 5px 25px 0;
}
@media (max-width:767px) {
    .leave_a_comment-content .content form .btn {
        padding: 9px 25px;
        margin-left:20%
    }
}
.leave_a_comment-content .content form .btn:hover {
    background-color: var(--main-color);
    color: var(--paragrah-color);
}
/*end leave a comment*/
/*===============end projects page================*/


/*====================== start contact me page =====================*/

/* Set the size of the div element that contains the map */

/*start location*/
.location {
    padding: 80px 0;
}
.location .map {
    width: 100%;
}
/*end location*/

/*start contact content*/
.con-tact .container {
    padding: 30px 0;
    display: flex;
    justify-content: space-between; 
}
.con-tact .container .content {
    flex-basis: 280px;
}
@media (max-width:767px) {
    .con-tact .container {
        flex-direction: column;
    }
    .con-tact .content {
        margin: auto;
    }
}
.con-tact .content div {
    margin-bottom: 10%;
}
.con-tact .content div i {
    float: left;
    width: 15%;
    margin-top: 12px;
    color: #f44336;
}
.con-tact .content div h4 {
    font-weight: normal;
}
.con-tact .content div p {
    margin-left: 15%;
    padding: 10px 0;
    color: #777;
    font-size: 13px;
}
.form {
    width: 50%;
}
@media (max-width:767px) {
    .form {
        margin: auto;
        width: 100%;
    }
}
.form form {
    background-color: #fff;
    padding: 0px 15px 5px 15px;
}
.form form input {
    display: block;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 15px;
    border: 1px solid rgb(206, 206, 206);
}
.form form textarea {
    min-height: 150px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: #fff;
    padding: 10px;
    border: none;
    margin-bottom: 30px;
    border: 1px solid rgb(206, 206, 206);
}
input:focus, textarea:focus {
    outline: none;
}
.form .btn {
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 13px 40px;
    background-color: transparent;
    transition: 0.6s;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    width: 40%;
    border-radius: 0 5px 25px 0;
}
@media (max-width:767px) {
    .form .btn {
        margin-left: 20%;
    }
}
.form .btn:hover {
    background-color: var(--main-color);
    color: var(--paragrah-color);
}
.form .btn::before {
    content: "";
    width: 50px;
    border-bottom: 1.3px solid var(--main-color);;
    display: block;
    position: absolute;
    bottom: 50%;
    left: -12%;
    transition: 0.6s;
}
.form .btn:hover::before {
    border-color: var(--main-color);
}
.form .btn::after {
    content: "";
    width: 50px;
    border-bottom: 1.3px solid var(--main-color);;
    display: block;
    position: absolute;
    bottom: 50%;
    right: -12%;
    transition: 0.6s;
}
.form .btn:hover::after {
    border-color: var(--main-color);
}
/*===================end contact page================*/

/*===================start footer==================*/
footer .container {
    text-align: center;
    padding: 7% 0 20px;
}
footer .container h4 {
    margin-bottom: 20px;
}
footer .container p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px 10px 0px;
    margin-bottom: 20px;
}
footer .container .fab {
    margin-right: 13px;
    margin-left: 13px;
    color: var(--main-color);
    cursor: pointer;
    margin-bottom: 20px;
}
footer .container .far {
    color: var(--main-color);
}
/*===================end footer==================*/

/*--------------------------the end of the project---------------------------------*/